*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.container{
    width: 40%;
    height: 500px;
    background-color: #7c73e6;
    box-shadow: 10px 10px 10px gray;
    border-radius: 8px;
    color: white;
    text-align: center;
}

div.timer{
    display: block;
    width: 75%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    height: 80px;
    line-height: 80px;
    background-color: white;
    color: #7c73e6;
    border-radius: 10px;
}
div.timer, .digit{
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
}
#buttons{
    display: block;
    margin-top: 25px;
    height: 100px;
    align-items: center;
}
.btn1{
    background-color: #3CB371;
    border: none;
    color: white;
    width: 100px;
    padding: 12px 15px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 15px;
    cursor: pointer;
}
.btn1:hover{
    background-color: #32CD32;
}
.btn2{
    background-color: #ff0000e1;
    border: none;
    color: white;    
    width: 100px;
    padding: 12px 15px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 15px;
    cursor: pointer;
}
.btn2:hover{
    background-color: #fb4141;
}
.btn3{
    background-color: #1E90FF;
    border: none;
    color: white;
    width: 100px;
    padding: 12px 15px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
}
.btn3:hover{
    background-color: #00BFFF;
}
.btn4{
    margin-top: 25px;
    background-color: #780078;
    border: none;
    color: white;
    width: 100px;
    padding: 12px 15px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.btn4:hover{
    background-color: #8e318e;
}

#laps-item{
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    overflow: auto;
    height: 150px;
}
#laps-item::-webkit-scrollbar{
    display: none;
}
.clears{
    z-index: 1000;
    width: 100px;
    padding: 5px;
    border-radius: 20px;
    border: none;
    background-color: white;
    cursor: pointer;
    margin-top: 15px;
}
.clears:hover{
    background-color: rgb(232, 230, 230);
}

.hidden{
    display: none;
}

@media (max-width: 1245px) {
    div.container{
        width: 60%;
    }
    div.timer, .digit{
        font-size: 25px;
        font-weight: bold;
    }
}
@media (max-width: 980px){
    div.container{
        width: 80%;
    }
    div.timer, .digit{
        font-size: 25px;
        font-weight: bold;
    }
    .btn1,.btn2,.btn3,.btn4{
        width: 75px;
        padding: 10px 12px;
        border-radius: 9px;
        font-weight: bold;
        font-size: 20px;
    }
}
@media (max-width: 350px){
    div.container{
        width: 100%;
        height: 100vh;
    }
    div.timer, .digit{
        font-size: 20px;
        font-weight: bold;
    }
    .btn1,.btn2,.btn3,.btn4{
        width: 65px;
        border-radius: 9px;
        font-weight: 300;
        font-size: 16px;
    }
    .btn4{
        margin-right: 10px;
    }
    #laps-item{
        margin-top: 25px;
        height: 300px;
    }
}